<nav class="cinema-navbar sticky-top">
    <div class="nav-container">
        <a class="nav-brand" routerLink="/">Book-Your<span> VIBE</span></a>

        <div class="nav-menu">
            <ul class="nav-list">
                <li class="nav-item"><a class="nav-link active" routerLink="/home">Home</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/only-movies">Movies</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Offers</a></li>
            </ul>
            <div class="nav-item">
                <select class="genre-filter" [(ngModel)]="selectedGenre" (change)="applyFilters()">
                    <option value="">All Genres</option>
                    <option *ngFor="let g of genres" [value]="g">{{ g }}</option>
                </select>
            </div>


            <form class="nav-search">
                <input type="search" placeholder="Search for movies...">
                <button type="button">Search</button>
            </form>
        </div>
    </div>
</nav>

<div class="container mt-5 mb-5">
    <!-- <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="section-title">🎬 All Movies</h2>
        <a routerLink="/only-movies" class="view-all">View All</a>
    </div> -->

    <div class="movie-grid">
        <div class="movie-card-v2" *ngFor="let movie of filteredMovies">

            <div class="poster-container">
                <img [src]="movie.poster_Url" class="poster-img-v2">
                <div class="poster-overlay" [routerLink]="['/movie-details', movie.id]">
                    <button class="btn-details">VIEW DETAILS</button>
                </div>
            </div>

            <div class="movie-details">
                <h5 class="movie-title">{{ movie.title }}</h5>
                <p class="movie-genre">{{ movie.genre }} | {{ movie.language }}</p>
                <p class="movie-duration">
                    <i class="bi bi-clock"></i> {{ movie.duration_minutes }} mins
                </p>

                <button class="btn-vibe-primary" [routerLink]="['/movie-details', movie.id]">
                    Book Now
                </button>
            </div>
        </div>
    </div>