<div class="seat-page">

    <h2>Select Seats</h2>

    <div class="screen">SCREEN</div>

    <div *ngIf="isLoading" class="loading">Loading seats...</div>

    <div *ngIf="!isLoading">

        <div *ngFor="let row of rows" class="row">
            <span class="row-name">{{row.rowName}}</span>

            <div class="seats">
                <div *ngFor="let seat of row.seats" class="seat" [ngClass]="getSeatClass(seat)"
                    (click)="toggleSeat(seat)">
                    {{seat.seatNumber}}
                </div>
            </div>

            <span class="row-name">{{row.rowName}}</span>
        </div>

        <div class="summary" *ngIf="selectedSeats.length > 0">
            <p>Seats:
                <span *ngFor="let s of selectedSeats">
                    {{s.rowName}}{{s.seatNumber}}
                </span>
            </p>

            <h3>Total ₹{{totalAmount}}</h3>

            <button (click)="proceed()">Proceed to Payment</button>
        </div>

    </div>

</div>